#navbarNav{ 
   width: 1148px;
height: 196px;
left: 140px;
right: 140px;
top: 17px;
bottom: 2942px;
background-color: #4169E1;
border-radius: 50px;
}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
   }
   .bubble-boy{
position: absolute;
width: 307px;
height: 307px;
left: 142px;
top: 279px;
   }
