#navbarNav{ 
   width: 1148px;
height: 196px;
left: 140px;
right: 140px;
top: 17px;
bottom: 2942px;
background-color: #4169E1;
border-radius: 50px;
}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
   }
   .bubble-boy{
float: left;
width: 407px;
height: 407px;
margin-right: 20px;
   }
   .bubble-boy img{
      max-width: 100%;
      height: auto;
      margin-right: 10px;
         }
.text-container{
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-align: justify;
   }
   .special-link {
      font-family: "Kristen ITC", Arial, sans-serif;
    font-size: 40px;
    word-wrap: break-word;
  }
  .special-link2{
    font-family: "roboto", Arial, sans-serif;
    font-size: 28px;
  }