#navbarNav{ 
   width: 1148px;
height: 196px;
left: 140px;
right: 140px;
top: 17px;
bottom: 2942px;
background-color: #4169E1;
border-radius: 50px;

}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
   }
   .boy-crying{
display: flex;
flex-direction: column;
align-items: center;
background-color: #4169E1;
margin: 65px 142px;
padding: 20px 0px 0px 10px;
position: relative;


   }
   .boy-crying img{      
      height: 405px;
      max-width: 100%;
      margin-right: 10px;
      border: 5px solid;
      border-image:#ffffff ;
     border-image-slice: 1;
                   }
.text-container{
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   margin-left: 10px;
   padding-top: 80px;
   margin-right: 20px;
   font-family: 'Roboto';
   background-color: #4169E1;
      }

        /* special links control font use throughout */
   .special-link {
      font-family: "Kristen ITC", Arial, sans-serif;
    font-size: 40px;
    word-wrap: break-word;
  }
  .special-link2{
    font-family: "roboto", Arial, sans-serif;
    font-size: 28px;
  }
  .text-container2{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   margin-left: 142px;
   margin-right: 142px;
   padding-top: 80px;
   background-color: #4169E1;

  }
  .red{
   color: red;
   font-weight: bold;
  }
.row{
     display: flex;
     }
   /* movement of images from hover */

   .row .col {
      position: relative;
      perspective: 1000px;
   }

   .row .col img {
      transition: transform 0.5s;
      transform-style: preserve-3d;
   }
.row .col:hover img {
   transform: rotateY(180deg);
}

.back-text {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image:linear-gradient(0deg, rgba(0, 0, 255, 1) 10%, rgba(25, 25, 255, 1) 20%, rgba(51, 51, 255, 1) 30%, rgba(77, 77, 255, 1) 40%, rgba(102, 102, 255, 1) 50%, rgba(128, 128, 255, 1) 60%, rgba(153, 153, 255, 1) 70%, rgba(179, 179, 255, 1) 80%, rgba(204, 204, 255, 1) 90%, rgba(230, 230, 255, 1) 100%);;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
color: #000;
opacity: 0;
transition: opacity 0.3s ease;

}

.row .col:hover .back-text {
   opacity: 1;
}
   .row1 .col:last-child:hover img {
transform:translateX(50%) ;
   }
   .row1 .col:hover img,
.row1 .col:last-child:hover img {
  transform: scaleX(-1);
}

   .col{
flex: 1;
transition: transform 0.5s;
overflow: hidden;
   }
.col img {
width: 100%;
height: auto;
transition: transform 0.5s;
}

.col:hover img{
   transform: scale(1.2);
}

  .row1{
   padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  }
  .row2{
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
  }
 
  .text-containerdh{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   margin-left: 142px;
   margin-right: 142px;
   padding-top: 80px;
   background-color: #4169E1;}

 /* supports school and sleep page text*/
   .text-containersh{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      margin-left: 142px;
      margin-right: 142px;
      padding-top: 80px;
   background-color: #4169E1;}

   body{
      color: #ffffff;
        }

    /* supports eating page page */
   .text-containereh{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      margin-left: 142px;
      margin-right: 142px;
      padding-top: 80px;
   background-color: #4169E1;}

      /* image from getting dressed page */

   .first-image{
      justify-content: center;
      margin-right: 142px;
      margin-left: 142px;
      background-color: #4169E1;
      height: 605px;
   }

   .first-section{
      margin-right: 142px;
      margin-left: 142px;
      background-color: #4169E1;
        }
     h2{
           text-align: center;
     }
     .school-image{
      justify-content: center;
      margin-right: 142px;
      margin-left: 142px;
      background-color: #4169E1;
      height: 405px;
     }
     .multicolortext {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
      font-size: 28px;
      text-align: center;
         }
         .footer{
            position: absolute;
         width:  1148px;
         height: 196px;
         top: 2755px;
         left: 110px;
         right: 140px;
         bottom: 17px;
         background:  #4169E1;
         border-radius: 50px;
         color: #ffffff;
         padding: 0 100 50;
         
           }
           .footer ul{
            list-style: none;
                      margin: 0;
            color: #ffffff; 
            justify-content: center;
            align-items: center;
            height: 100%;  
            display: flex;
              }
              .footer ul li a {
               color: #ffffff;
               text-decoration: none;
             }
             
             .footer ul li a:hover {
               text-decoration: underline;
             }
             .footer::before {
               content: "";
               position: absolute;
               top: 20px;
               left: 25%;
               transform: translateX(-25%);
               width: 2px;
               height: 156px;
               background-color: #ffffff;
             }
         